*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#parent{
    width: 50em;
    height: 50em;
    font-size: 12px;
    background: red;
}

#child{
    width: 25em;
    height: 25em;
    
    background: blue;
}
